body {
    width: 100%;
    margin: 0 auto;
}

tr, td {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}


.alive {
    background-color: #56a0d3;
    border: 1px solid #eaf207;
    cursor: auto
}

.dead {
    color: #CCC;
}

#startLink:a {
    border: 3px solid light-gray;
    color: #FFF;
    background-color: gray;
    padding: 20px 50px 20px 50px;
}
